body{

    font-family: 'IBMPlexSansKR-Light';
}









header,
section{
    /* display: none; */
}
aside{
    display: none;
    height: 100vh;
    background-color: #495d63;
    color: #d3d3d3;
    padding: 13vh 0 0 12vw
}
aside>h2{
    font-size: 16px;
    margin-bottom: 3vh;
}
aside>p{
    font-size: 14px;
    margin-bottom: 10vh;
}
aside>ol{
    margin-bottom: 10vh;
}
aside>ol>li{
    font-size: 14px;
}
aside>h3{
    font-size: 14px;
    margin-bottom: 3vh;
}
aside>dl{
    display: inline-block;
    width: 34%;
}
aside>dl.dl-margin{
    margin-bottom: 3vh;

}
aside>dl>dt{
    font-size: 18px;
}
aside>dl>dd{
    font-size: 15.5px;
}
